@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&family=Open+Sans');

body
{   
    background-image: url(images/background.png);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

p
{
    margin-top: 200px;
    margin-left: -5px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: xx-large;
    color: rgb(65, 10, 54);
}

group1
{
    display: flex;
    justify-content: space-around;
}

group2
{
    display: flex;
}

group3
{
    display: flex;
}

group4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gui1
{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    bottom: -100%
}

#gui2
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -1%;
    right: -1%;
    top: -100%
}

#image
{
    height: 350px;
    width: 350px;
    margin-bottom: -200px;
    margin-top: -10px;
    margin-right: -5px;
}

mc
{
    margin-top: 25%;
    margin-left: -10%;
    height: 500px;
    width: 200px;
    background-image: url(images/mc_idle.png);
    background-size: cover;
    transform: rotateY(180deg) rotate(10deg) scale(3);
}

section
{
    margin-top: -50px;
    margin-left: -15%;
    width: 35%;
    height: 800px;
    background-image: linear-gradient(to bottom, rgb(230, 93, 203), rgb(221, 88, 194), rgb(186, 66, 162), rgb(180, 63, 157), rgb(164, 55, 142));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-5deg);
    z-index: 1;
}

enemy
{
    margin-top: -20%;
    height: 500px;
    width: 200px;
    background-image: url(images/enemy_idle.png );
    background-size: cover;
    transform: rotate(190deg) scale(3);
}

name
{
    margin-left: 75px;
    margin-bottom: 50%;
    height: 100px;
    width: 300px;
    font-family: 'Roboto Slab';
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(65, 10, 54);
    text-indent: 10px;
}

button1
{
    margin: 2px 0px 0px 0px;
    margin-bottom: 150px;
    height: 25px;
    width: 100%;
    background-color: rgb(164, 55, 142);
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab';
    font-weight: bold;
    color: rgb(65, 10, 54);
    text-indent: 100px;
}

a
{
    position: absolute;
    opacity: 0;
}

button2
{
    right: 0;
    margin-top: -100px;
    height: 1000px;
    width: 49.5%;
    background-color: rgba(91, 69, 86, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

button3
{
    left: 0;
    margin-top: -100px;
    height: 1000px;
    width: 49.5%;
    background-color: rgba(91, 69, 86, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button
{
    margin-bottom: 150px;
    height: 300px;
    width: 300px;
    z-index: 1;
}

showcoin
{
    margin-top: -175px;
    height: 1000px;
    width: 100%;
    background-color: rgba(91, 69, 86, 0.2);
    position: absolute;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button
{
    margin-right: 10px;
    height: 60px;
    width: 200px;
    background-color: rgb(255, 227, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab';
    font-size: x-large;
    color: rgb(65, 10, 54);
    border: 3px solid rgb(41, 39, 39);
}

log
{
    height: 200px;
    width: 700px;
    background-color: rgb(255, 227, 249);
    border: 3px solid rgb(41, 39, 39);
    font-family: 'Roboto Slab';
    color: rgb(65, 10, 54);
    border: 3px solid rgb(41, 39, 39);
    overflow-y: auto;
}

heart img
{
    height: 150px;
    width: 225px;
    z-index: 1;
    position: absolute;
    left: 41.63%;
    right: 41.63%;
    top: -35px;
}

mcBar
{
    margin-top: 10px;
    margin-right: 14px;
    height: 30px;
    width: 500px;
    border: 2px solid rgb(41, 39, 39);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#goodHearts
{
    height: 30px;
    width: 500px;
    background-color: rgb(219, 59, 59);
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;
    right: 51.225%;
    position: absolute;
}

enemyBar
{
    margin-top: 10px;
    margin-left: 14px;
    height: 30px;
    width: 500px;
    border: 2px solid rgb(41, 39, 39);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#badHearts
{
    height: 30px;
    width: 500px;
    background-color: rgb(219, 59, 59);
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
    float: left;
    position: absolute;
}

#mc
{
    position: absolute;
    left: -100%;
    top: 8%;
}

#mc img
{
    height: 525px;
    width: 160px;
}

#enemy
{
    position: absolute;
    right: -100%;
    top: 12%;
}

#enemy img
{
    height: 450px;
    width: 200px;
}

.end
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.7);
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#ending
{
    font-family: 'Roboto Slab';
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(65, 10, 54);
}